<div class="container" ng-show="loggedin">
    <div class="chatarea form-control" scroll-glue>
            <p ng-repeat="message in messages">
              <span class="{{message.style}}">  <strong>{{message.user.login}}</strong>
                {{message.creationDate | date:'dd.MM.yyyy h:mm'}}
                {{message.content}}
                <a href="" ng-click="delMsg(message)" ng-show="message.user.login==currentuser && !message.hasOwnProperty('style')"> Удалить</a>
              </span>
            </p>
    </div>

    <form>
        <label>сообщение:</label>
        <input type="text" ng-model="message" ng-keyup="$event.keyCode == 13 && sendMsg()" class="form-control" placeholder="Введите сообщение тут" required
               autofocus>
        <button ng-click="sendMsg()" class="btn btn-md btn-success btn-block" type="button">Отправить</button>
    </form>
</div>