<div class="container">
       <form class="form-signin" ng-show="!loggedin" >
            <label for="login">Имя пользователя:</label>
            <input type="text"  ng-model="username" ng-keyup="$event.keyCode == 13 && login()" class="form-control" placeholder="Login" required autofocus>
            <button ng-click="login()" class="btn btn-md btn-success btn-block" type="button">Войти</button>
        </form>      
		
		<form class="form-signin" ng-show="loggedin" >
            <button ng-click="logout()" class="btn btn-md btn-success btn-block" type="button">Выйти</button>
        </form>
    <p>{{err}}</p>
 </div>